@using Microsoft.AspNetCore.Identity
@using Nhom1_LTWEB_Webbandongho.Areas.Admin.Models
@using Nhom1_LTWEB_Webbandongho.Models
@model Nhom1_LTWEB_Webbandongho.Areas.Admin.Controllers.UserRolesViewModel
@{
    ViewData["Title"] = "User list ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>User</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>UserName</th>
            <th>age</th>
            <th>gmail</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Age </td>
                <td>@user.Email</td>
              
                <td>
                    @foreach (var role in Model.UserRoles[user.Id])
                    {
                        <span>@role</span>
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Display" asp-route-id="@user.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@user.Id">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>